@font-face{
    font-family: Fell;
    src: url(../type/fell_opentype/IMFeENrm29C.otf);
}

@font-face{
    font-family: Fell;
    src: url(../type/fell_opentype/IMFeENit29C.otf);
    font-style: italic;
}

@font-face{
    font-family: Fell-flowers;
    src: url(../type/fell_opentype/IMFeFlow2.otf);
}

html{
    font-size: 100%;
    font-family: Fell, Georgia, serif;
    color: rgb(50,50,50);
    -moz-font-feature-settings: "liga=1, dlig=1";
    -ms-font-feature-settings: "liga", "dlig";
    -webkit-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
}

body {
    background-color: #fefcf5;
    text-align: center;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

nav {
    position: fixed; 
    top: 0px;
    width: 100%;
    z-index: 1000;
    background-color: #182234;
}

nav a {
    font-family: Fell, Georgia, serif;
    font-weight: 400;
    font-size: 1.2rem;
    font-variant: small-caps;
    text-transform: lowercase;
    text-decoration: none;
    color: #fff;
    text-shadow: 0 0 0px rgba(255,255,255,0.3);
}

nav a:active {
    transform: translateY(2px);
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    opacity: .5;
}

nav h6 {
    color: white;
    font-size: 1.5rem;
}

nav > a, nav > h6 {
    display: inline;
}

span.small-caps{
    font-family: Fell;
    font-variant: small-caps;
}

i {
    font-family: Fell;
    font-style: italic;
}

section {
    padding-top: 2em;
}

.photo {
    height: 480px;
    padding: 0px;
}

#intro{
    margin-top: 70px;
}

#intro #wordmark{
    font-size: 4rem;
    font-family: Fell, Georgia, serif;
    font-style: italic;
}

#intro h2 {
    padding: 0rem 1.5rem 2rem 1.5rem;
}

#lake-tahoe {
    background-image: url('../img/flickr_traveling_lunas.jpg') ;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-position: left center;
}

h1{
    font-family: Fell, Georgia, serif;
    font-size: 3rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

h2 {
    font-family: Fell, Georgia, serif;
    font-size: 2rem;
    font-weight: normal;
    font-variant: small-caps;
    text-transform: lowercase;
    padding-bottom: .8rem;
}

h3{
    font-family: Fell, Georgia, serif;
    font-size: 2rem;
    font-weight: normal;
    padding-bottom: .8rem;
}
h6 {
    font-family: Fell-flowers; Georgia, serif;
    font-size: 1rem;
}

section h6{
    font-size: 1.6rem; 
    margin-bottom: 3rem;
}

p{
    font-family: Fell, Georgia, serif;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: normal;
}

/* intro spacing */

#ornament-top{
    padding-top: 1.4rem;
}

#save-the-date{
    
}

#july-5th-2014{
    margin-bottom: 3.4rem;
    
}

#jeanette-love-baker{
    
}

#ampersand {

}

#joseph-patrick-cordes{
   margin-bottom: 4.4rem;
}

#the-gatekeepers-museum{
   margin-bottom: 1.2rem;
}

#lake-tahoe-california{

}

#ornament-bottom{
    margin-bottom: 6rem;
}

/* end intro spacing */


.three-col {
    width: 22%;
    display: inline-block;
    margin: 0rem 2rem 3rem 2rem;
    vertical-align: top;
}

#map{
    margin-top: 0px;
    padding-top: 0px;
}

#fireworks{
    background-image: url('../img/flickr_stevedunleavy.jpg');
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-position: bottom center
}

#sunset {
    background-image: url('../img/flickr_dlofink.jpg') ;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
}

footer {
    background-color: #182234;
    padding: 12px 0px;
}

footer a img {
    height: 80px;
}

footer a:active {
    transform: translateY(2px);
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    opacity: .5;
}

/* Screens under a certain size */
@media (max-width: 768px) {
    /* remove nav for small screens */
    nav {
        display: none;
    }
    /* add border top on small screens */
    #intro {
        margin-top: 0px;
        border-top: 8px solid #182234;
    }
    /* three col layout goes vertical for small screens */
    .three-col {
        width: 84%;
        margin-right: 10px;
        margin-left: 10px;
    }
    /* change footer image links height */
    footer a img {
         height: 44px;
    }
}

@media (max-width: 480px) {
    h1{ font-size: 1.8rem;}
    h2{ font-size: 1.5rem;}
    h3{ font-size: 1.5rem;}

    #intro h2{ font-size: 1.2rem;}
    #intro h3{ font-size: 1.4rem;}
    #intro h6{ font-size: 1.2rem;}
    #ornament-top{ padding-top: .6rem;}
    #save-the-date h2{ padding-bottom: 1rem;} 
    #july-5th-2014{ margin-bottom: 2rem;} 
    #joseph-patrick-cordes{ margin-bottom: 3rem;}
    #the-gatekeepers-museum h3{ padding-bottom: 0rem;}
    #the-gatekeepers-museum{ margin-bottom: 1rem;}
    #ornament-bottom{ margin-bottom: 4.5rem;}
}
