html {
	font-size: 100%;
	font-family: Georgia;
	color: rgb(50,50,50);
}

body {
	background-color: white;
	text-align: center;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}

nav {
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1000;
	background-color: #182234;
}

nav a {
	font-size: .8em;
}

nav a:active {
	transform: translateY(2px);
	-ms-transform: translateY(2px);
	-webkit-transform: translateY(2px);

	opacity: .5;
}

section {
	height: 600px;
	border-top: 5px solid rgb(100,100,100);
}

#jj {
	background-image: url('../img/flickr_dlofink.jpg') ;
	background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}


#tahoe {
	background-image: url('../img/flickr_traveling_lunas.jpg') ;
	background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}

h1{
	font-family: 'Clicker Script', serif;
	font-size: 4rem;
	font-weight: normal;
	margin-top: 1.5em;
}

h2 {
	font-family: Volkorn, Georgia, serif;
	font-size: 2rem;
	font-weight: normal;
}

p{
	font-family: Wolkorn, Georgia, serif;
	font-size: 1rem;
	font-weight: normal;

}

footer {
	background-color: #182234;
}
